.carrer-list {
  display: grid;
  gap: 1rem;

  @include mq('min-width', sm) {
    gap: 2rem;
  }
}

.career-item {
  display: grid;
  gap: 0.3rem;

  @include mq('min-width', sm) {
    grid-template-columns: 2fr 4fr;
    gap: 3rem;
  }
}

.career-head {
  @include mq('min-width', sm) {
    display: grid;
    grid-template-rows: min-content;
    gap: 0.3rem;
  }
}

.career-title {
  font-size: theme(text-base) !important;
  font-weight: 800;
}

.career-subttle {
  font-weight: 800;
}

.career-content {
  display: grid;
  gap: 0.3rem;
  padding-left: 1em;

  @include mq('min-width', sm) {
    padding-left: 0;
  }
}

.carrer-technologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 1rem;
}

.career-main li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6em;

  &::before {
    content: '-';
  }
}

.carrer-technologies {
  padding-left: 1.1em;
  margin-top: 0.6rem;
}
