.carrer-list {
  display: grid;
  gap: 1rem;

  @include mq('min-width', sm) {
    gap: 2rem;
  }
}

.career-item {
  display: grid;
  gap: 0.3rem;

  @include mq('min-width', sm) {
    grid-template-columns: 2fr 4fr;
    gap: 3rem;
  }
}

.career-head {
  @include mq('min-width', sm) {
    display: grid;
    grid-template-rows: min-content;
    gap: 0.3rem;
  }
}

.career-title {
  font-size: config(text-base);
  font-weight: 800;
  text-transform: uppercase;
}

.career-subttle {
  font-weight: 800;
}

.career-content {
  display: grid;
  gap: 0.3rem;
}

.career-main li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6em;

  &::before {
    padding-top: 0.2em;
    font-size: 0.8rem;
    color: color(border);
    content: '▪';
  }
}

.carrer-technologies {
  padding-left: 1.1em;
  margin-top: 0.6rem;
}

.carrer-technologies .skills-list {
  margin-top: 0.3rem;
}
