.compact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: config(border-radius);

  &:hover {
    background-color: color(accent);
  }
}

.compact-button .icon {
  width: 1.3rem;
  height: 1.3rem;
  stroke: color(accent-foreground);
}

:root.compact .compact-button .expanded-mode,
:root:not(.compact) .compact-button .compact-mode {
  display: block;
}

:root.compact .compact-button .compact-mode,
:root:not(.compact) .compact-button .expanded-mode {
  display: none;
}
