.page-loader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-loader > div {
  position: relative;
  width: 28px;
  height: 28px;
  margin: -42px auto 0;
  border-radius: 50%;
  animation: loader 0.9s ease alternate infinite;
  animation-delay: 0.36s;
}

.page-loader > div::after,
.page-loader > div::before {
  position: absolute;
  width: 28px;
  height: 28px;
  content: "";
  border-radius: 50%;
  animation: loader 0.9s ease alternate infinite;
}

.page-loader > div::before {
  left: -40px;
  animation-delay: 0.18s;
}

.page-loader > div::after {
  right: -40px;
  animation-delay: 0.54s;
}

@keyframes loader {
  0% {
    box-shadow: 0 28px 0 -28px black;
  }

  100% {
    box-shadow: 0 28px 0 #eecf23;
  }
}
