%section-content {
  @extend %container;

  display: grid;
  row-gap: config(content-r-gap-xs);

  @include mq('min-width', lg) {
    grid-template-columns: config(content-columns-lg);
    gap: normal config(content-c-gap-lg);
  }
}

.section-content {
  @extend %section-content;
}

.section-title {
  font-size: config(text-lg);
  font-weight: 800;
  line-height: 1.4;
  color: color(primary);
}
