.section:has(.section-title) .section-inner {
  display: grid;
  gap: 1rem;

  @include mq('min-width', lg) {
    grid-template-columns: config(section-columns);
    gap: config(section-columns-gap);
  }
}

.section-title {
  font-size: config(text-lg);
  font-weight: 800;
  line-height: 1.4;
  color: color(primary);
}
