.simply-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: config(border-radius);

  &:hover {
    background-color: color(accent);
  }
}

.simply-button .icon {
  width: 1.3rem;
  height: 1.3rem;
  stroke: color(accent-foreground);
}
