.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: config(border-radius);

  &:hover {
    background-color: color(accent);
  }
}

.theme-button .icon {
  width: 1.3rem;
  height: 1.3rem;
  stroke: color(accent-foreground);
}

.theme-light-icon {
  @media (prefers-color-scheme: light) {
    display: inline-flex;
  }

  @media (prefers-color-scheme: dark) {
    display: none;
  }

  .light & {
    display: inline-flex;
  }

  .dark & {
    display: none;
  }
}

.theme-dark-icon {
  margin-top: 1px;

  @media (prefers-color-scheme: light) {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    display: inline-flex;
  }

  .light & {
    display: none;
  }

  .dark & {
    display: inline-flex;
  }
}
