include ../components/section.pug

- var title = ['heading.about-me', 'About Me'];

+section(title)
  p.about-paragraph(data-i18n='about')
    | I am a frontend developer with experience in building web applications.
    | Although my passion lies in CSS styling, I also have experience using various development tools and techniques.
    | I love designing and optimizing projects, striving for perfect layouts and clean code.
    | My goals include mastering a variety of technologies, and in my free time,
    | as well as immersing myself in reading books and articles about new technologies to expand my knowledge and skills.
