footer.page-footer.hidden-in-pint
  .page-footer-content
    div
      a(href='https://github.com/mrtoxas/cv') 
        span(data-i18n='footer.showOn') Show on
        = ' '
        | GitHub
    div
      span(data-i18n='footer.madeWith') Made with
      = ' '
      span.heart &#10084;
      = ' '
      span(data-i18n='footer.by') by mrtoxas
    
