include ../components/icon.pug

.navbar
  .container.h-full
    .navbar-content
      .plug
      .navbar-actions
        div
          include /templates/components/lang-select.pug
        div
          button#simplyBtn.simply-button(aria-label='simply mode toggle-button')
            +icon("minimize-2") 
        div
          button#themeBtn.theme-button(aria-label='theme toggle button')
            +icon("moon", "theme-dark-icon")
            +icon("sun", "theme-light-icon")
