include ../components/icon.pug

.navbar
  .container.h-full
    .navbar-content
      .plug
      .navbar-actions
        div
          include /templates/components/lang-select.pug
        div
          button#compactBtn.compact-button(aria-label='Compact mode toggle-button')
            +icon("minimize-2", "compact-mode")
            +icon("maximize-2", "expanded-mode")
        div
          button#themeBtn.theme-button(aria-label='theme toggle button')
            +icon("moon", "theme-dark-icon")
            +icon("sun", "theme-light-icon")