include ../components/section.pug

- var title = ['heading.skills', 'Technical skills'];

-
  var кeySkills = [
  	["HTML", "PUG"],
  	["CSS", "SASS", "Styled Components"],  	
  	["JavaScript", "TypeScript", "jQuery"],
  	["React", "MobX", "Zustand"],
    ["PostCss", "PostHtml"],
  	["Vite", "Webpack", "Parcel", "Gulp"],
  	["Tailwind", "AntDesign", "Shadcn"],
  	["Bootstrap", "Foundation"],  	
  ]

-
  var familiarSkills = [
    ["Node.js", "Express", "Next.js", "Vue", "LitElement", "Prisma ORM", "Python", "PHP", "Laravel", "Docker",  "Wordpress", "Figma"]
  ]

mixin skillsList(data)
  ul.skills-list.list-clear
    each item in data
      li
        if item.length > 1
          each skill, index in item
            .skill= skill
        else
          .skill= item[0]

+section(title)
  ul.skills-lists.list-clear
    li
      h3
        span(data-i18n='skills.key-skills') Key Skills
        span :
      +skillsList(кeySkills) 
    li
      h3
        span(data-i18n='skills.familiar-with') Familiar with
        span :
      +skillsList(familiarSkills)
