include ../components/section.pug

- var title = ['heading.social-activity', 'Social activity'];

+section(title)
  p(data-i18n='social-activity.forum')
    | Since 2023, I have been actively involved in communicating and sharing my experience with other
    | web developers on one of the most popular online forums for programmers. I regularly solved various
    | web development tasks related to HTML, CSS, JavaScript, and other technologies, as well as advised
    | and supported both beginners and experienced colleagues in the profession. I also served as a
    | moderator on this forum, making sure that the rules, order, and quality of discussions were maintained.
  a.hidden-in-pint(href='https://www.cyberforum.ru/members/628162.html', data-i18n='social-activity.profile-link') Profile link
  .only-in-print Profile link: https://www.cyberforum.ru/members/628162.html
