.page-header {
  padding: 2.5rem env(safe-area-inset-right) 3rem;

  @include mq('min-width', lg) {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
}

.header-content {
  @extend %container;
}

.header-persone {
  @include mq('min-width', lg) {
    display: grid;
    grid-template-columns: config(content-columns-lg);
    gap: config(content-c-gap-lg);
  }
}

.header-persone::before {
  content: '';
}

.header-persone h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: color(primary);

  @include mq('min-width', md) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.header-persone p {
  font-weight: 600;
  color: color(foreground);
}
