.skills-lists {
  display: grid;
  gap: 2rem;
}

.skills-lists h3 {
  margin-bottom: 0.7rem;
  font-weight: 600;
}

.skills-lists li:first-child .skills-list {
  @include mq('min-width', sm) {
    columns: 2;
    column-gap: 2.5rem;
    column-fill: balance;
  }

  @include mq('min-width', lg) {
    columns: 3;
  }
}

.skills-list > li {
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;  
  align-items: baseline;

  &:not(:first-child){
    margin-top: .7rem;
  }
}

.skill {
  background-color: color(backplate);
  padding: .2em .6em;
  border-radius: config(border-radius);
  font-size: config(text-sm);
}