html {
  font-family: Inter, sans-serif;
  font-size: 100%;
  line-height: 1.7;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: color(foreground);
  background-color: color(background);
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.h-full {
  height: 100%;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

.strong {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: config(container-xl);
  padding-right: config(container-padding-xs);
  padding-left: config(container-padding-xs);
  margin-right: auto;
  margin-left: auto;
}

.page-main {
  display: grid;
  row-gap: config(main-row-gap-lg);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.list-clear {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hidden-in-pint {
  @media print {
    display: none;
  }
}

.only-in-print {
  @media not print {
    display: none;
  }
}

.colon-after::after {
  content: ':';
}
