html {
  font-family: Inter, sans-serif;
  font-size: config(font-size-xs);
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  @include mq("min-width", md) {
    font-size: config(font-size-md);
  }
}

body {
  font-size: config(text-base);
  font-weight: 400;
  color: color(foreground);
  background-color: color(background);

  @media print {
    font-size: 90%;
    filter: grayscale(1);

    --color-background: #fff !important;
    --color-foreground: #000 !important;

    * {
      color: #000 !important;
    }
  }
}
