---
/* 
  To display props icons, their names must be specified in the 'safelist' of the uno.config.ts
  https://github.com/unocss/unocss/issues/1780
*/

import type { CollectionEntry } from "astro:content";
import Section from "@/components/ui/Section.astro";

type Props = CollectionEntry<"main">["data"]["contacts"];

const { ariaLabel, links } = Astro.props;
---

<Section ariaLabel={ariaLabel} className="-mt-8 print:mt-0">
  <div class="md:(grid grid-cols-[auto_1fr] gap-y-4 gap-x-6) lg:(flex) print:(flex gap-x-4)">
    {links.map((link) => (
      <div>
        <a href={link.href} title={link.title} class="inline-flex items-center gap-x-[0.4em] py-3 md:py-1 text-sm hover-text-primary">
          <span class:list={[link.icon, "block text-xl text-primary print:hidden"]}></span> {link.text}
        </a>
      </div> 
    ))}
  </div>
</Section>