---
import type { CollectionEntry } from "astro:content";
import Section from "../ui/Section.astro";
import Experience from "../ui/Experience.astro";

type Props = CollectionEntry<"main">["data"]["education"];

const { title, list } = Astro.props;
---

<Section title={title}>
	<Experience list={list} />
</Section>