---
import { useTranslations } from '../../i18n/ui';
const t = useTranslations(Astro.currentLocale);
const textPrimaryColor = 'bg-gradient-to-r from-primary-start to-primary-end bg-clip-text text-transparent border-b-2 border-primary';

const locale = Astro.currentLocale;
---

<div class:list={[
  "px-container bg-secondary",
  "lg:(grid grid-cols-[1fr_4fr] gap-x-1.5rem items-center)"
]}>
  <div class="md:(grid col-start-2 col-end-3 grid-cols-[1fr_auto] items-center)">
    <nav>
    	<a class:list={'pb-2 textPrimaryColor'} href="">{t('tabs.cv.title')}</a>
    	<a class:list={["ml-4"]} href="">{t('tabs.portfolio.title')}</a>
    </nav>
  </div>
</div>