---
import Section from "../ui/Section.astro";
import SkillList from "../ui/SkillList.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"main">["data"]["skills"];

const { title, list } = Astro.props;
---

<Section title={title} >
  <div class="grid gap-y-6">
    {list.map((item) => (
      <div class="grid gap-y-2">
        <h3 class="font-semibold">{item.title}</h3>
        <SkillList skills={item.list} />
      </div>
    ))}    
  </div>
</Section>