include icon.pug

#select.txs-select
  .txs-select-selector(tabindex='0', role='button')
    .txs-select-value(data-value='en_US', aria-live='polite', aria-atomic='true') En
    +icon("chevron-down")
  .txs-select-options
    .txs-select-option(data-value='en-US', aria-hidden='true', onclick='') En
    .txs-select-option(data-value='ua-UA', aria-hidden='true', onclick='') Ua
    .txs-select-option(data-value='ru-RU', aria-hidden='true', onclick='') Ru
