#select.txs-select
  .txs-select-selector(tabindex='0', role='button')
    .txs-select-value(data-value='en_US', aria-live='polite', aria-atomic='true') En      
    .txs-select-arrow
      include ../../images/icons/chevron-down.svg
  .txs-select-options
    .txs-select-option(data-value='en-US', aria-hidden='true') En
    .txs-select-option(data-value='ua-UA', aria-hidden='true') Ua
    .txs-select-option(data-value='ru-RU', aria-hidden='true') Ru