---
import { useTranslations } from '../i18n/ui';
const t = useTranslations(Astro.currentLocale);
const textPrimaryColor = 'bg-gradient-to-r from-primary-start to-primary-end bg-clip-text text-transparent border-b-2 border-primary';

const locale = Astro.currentLocale;
const cvLink = `./${locale}`;
const portfolioLink = `./${locale}/portfolio`;

const { active } = Astro.props;
---

<div class="mt-8 mb-8 px-container lg:(grid grid-cols-[1fr_4fr] gap-x-1.5rem)">
    <div class="md:(col-start-2 col-end-3)">
        <div class="font-bold text-lg text-mute border-b-2 border-backplate">
            <a class:list={[active === 'cv' && textPrimaryColor, 'pb-2']} href={cvLink}>{t('tabs.cv.title')}</a>
            <a class:list={[active === 'portfolio' && textPrimaryColor, "ml-4"]} href={portfolioLink}>{t('tabs.portfolio.title')}</a>

        </div>
    </div>
</div>