---
---
<script>
  document.getElementById('print-btn')?.addEventListener('click', ()=> window.print());
</script>

<button id="print-btn" class="w-full h-full flex items-center justify-center">
  <span class="text-xl h-full text-xl i-lucide-printer" />
</button>