---
import Section from "./ui/Section.astro";
import Skill from "./ui/Skill.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"main">["data"]["skills"];

const { title, list } = Astro.props;
---

<Section title={title} >
  <div class="grid gap-y-6">
    {list.map((item) => (
      <div class="grid gap-y-2">
        <h3>{item.title}</h3>
        <ul class="flex flex-wrap gap-x-2 gap-y-2">
          {item.list.map((sitem) => (
            <li class="">
              <Skill name={sitem} />
            </li>
          ))}
        </ul>
      </div>
    ))}    
  </div>
</Section>