- var title = "Portfolio: Boyko Anton";
- var description = "Professional developer portfolio";

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    meta(name="description", content=description)
    style
      include ../static/page-loader.css
    script
      include ../static/check-js.js
    link(rel="apple-touch-icon", sizes="180x180", href="../static/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="../static/favicons/favicon-32x32.png")  
    link(rel="icon", type="image/png", sizes="16x16", href="../static/favicons/favicon-16x16.png")
    link(rel="manifest", href="../static/favicons/site.webmanifest")
    link(rel="mask-icon", href="../static/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="")
    meta(property="og:type", content="portfolio")
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content="https://github.com/mrtoxas/portfolio/opengraph-image.png")
    meta(property="og:image:url", content="https://github.com/mrtoxas/portfolio/opengraph-image.png")
    meta(property="og:url", content="https://github.com/mrtoxas/portfolio")
    link(rel="stylesheet", href="styles/main.scss")
  
  body
  
  .page
    include /templates/sections/header.pug
    include /templates/sections/about.pug
    include /templates/sections/skills.pug
    include /templates/sections/education.pug
    include /templates/sections/work.pug
    include /templates/sections/social-activity.pug    

  


  include /templates/components/page-loader.pug
  include /templates/components/nojs-alert.pug
  
  script(src="scripts/main.ts", type="module")