@use 'sass:map';

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin mq($rule, $breakpoint) {
  $breakpoint-value: map.get($breakpoints, $breakpoint);

  @if $breakpoint-value {
    @media (#{$rule}: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}