$themes: (
  ':root': (
    accent: #f4f4f5,
    accent-foreground: #18181b,
    background: #fff,
    foreground: #09090b,
    primary: #18181b,
    primary-foreground: #fff,
    secondary: #f4f4f5,
    secondary-foreground: #18181b,
    border: #e4e4e7,
  ),
  '.dark': (
    accent: #27272a,
    accent-foreground: #fafafa,
    background: #09090b,
    foreground: #fff,
    primary: #fff,
    primary-foreground: #09090b,
    secondary: #27272a,
    secondary-foreground: #fff,
    border: #27272a,
  ),
);

@each $selector, $theme in $themes {
  #{$selector} {
    @each $name, $color in $theme {
      --color-#{$name}: #{$color};
    }
  }
}

@function color($color-name) {
  @return var(--color-#{$color-name});
}

@media print {
  body {
    --color-background: #fff;
    --color-foreground: #000;
  }
}
