$themes: (
  'light': (
    background: #fff,
    foreground: #09090b,
    accent: #f4f4f5,
    accent-foreground: #18181b,
    backplate: #f4f4f5,
    primary: #fe8d59,
    primary-foreground: #fff,
    secondary: #f4f4f5,
    secondary-foreground: #18181b,
    border: #e4e4e7,
    danger: #f8d7da,
    danger-foreground: #721c24,
  ),
  'dark': (
    background: #282828,
    foreground: #e3e3e3,
    accent: #3c3c3c,
    accent-foreground: #fafafa,
    backplate: #303030,
    primary: #fe8d59,
    primary-foreground: #09090b,
    secondary: #27272a,
    secondary-foreground: #fff,
    border: #46464c,
    danger: #f8d7da,
    danger-foreground: #721c24,
  ),
);

@each $variant, $theme in $themes {
  :root.#{$variant} {
    @each $name, $color in $theme {
      --color-#{$name}: #{$color};
    }
  }

  @media (prefers-color-scheme: #{$variant}) {
    :root {
      @each $name, $color in $theme {
        --color-#{$name}: #{$color};
      }
    }
  }
}