$config: (
  text-xs: 0.75rem,
  text-sm: 0.875rem,
  text-base: 1rem,
  text-lg: 1.125rem,
  text-xl: 1.25rem,

  border-radius: 0.1rem,

  font-size-xs: 95%,
  font-size-md: 100%,

  header-p-top-xs: 2.5rem,
  header-p-bottom-xs: 3rem,
  header-p-y-md: 4rem,

  navbar-height: 2.5rem,
  main-r-gap-xs: 3rem,
  main-r-gap-md: 4rem,
  container-mw-xl: 1140px,
  container-p-x-xs: 15px,
  content-r-gap-xs: 1rem,
  content-c-gap-lg: 1.5rem,
  content-columns-lg: 1fr 4fr,
);

:root {
  @each $name, $item in $config {
    --#{$name}: #{$item};
  }
}
