---
import "@fontsource-variable/inter";

import PrintStyles from "../styles/PrintStyles.astro";
import { useTranslations } from '../i18n/ui';

const locale = Astro.currentLocale;

const t = useTranslations(locale);

import { ViewTransitions } from 'astro:transitions';
---

<html lang={locale} class="no-js pb-12 safe-area bg-background text-foreground text-[100%] print:text-[80%] md:pb-0 font-inter leading-relaxed antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 viewport-fit=cover" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex">
    <meta name="description" content={t('page.meta.description')} />
    <base href="/cv/">
    <title>{t('page.meta.title')}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="./fav/site.webmanifest">
    <link rel="mask-icon" href="./fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="icons/browserconfig.xml">
    <ViewTransitions />
  </head>
  <body class="break-inside-avoid">

  <slot></slot>

  <PrintStyles />
  </body>
</html>

<style is:global>
:root {
  color-scheme: light;
  -webkit-tap-highlight-color: initial;
}

:root.dark {
  color-scheme: dark;
}
</style>
