---
import "@fontsource-variable/inter";
import { getCollection } from "astro:content";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import ContactsSection from "../components/sections/ContactsSection.astro";
import SkillsSection from "../components/sections/SkillsSection.astro";
import EducationSection from "../components/sections/EducationSection.astro";
import WorksSection from "../components/sections/WorksSection.astro";
import AdditionalSection from "../components/sections/AdditionalSection.astro";
import PageFooter from "../components/sections/PageFooter.astro";
import PrintStyles from "../styles/PrintStyles.astro";
import { useTranslations } from '../i18n/ui';

const locale = Astro.currentLocale;

const pages = await getCollection("main");

const collection = pages.find((page) => page.id.split("/")[0] === locale)?.data;

const t = useTranslations(locale);
const title = t('page.meta.title');
const description = t('page.meta.description');
---

<html lang={locale} class="no-js pb-12 safe-area bg-background text-foreground text-[100%] print:text-[80%] md:pb-0 font-inter leading-relaxed antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex">
    <meta name="description" content={description} />
    <base href="/cv/">
    <title>{title}</title>
  </head>
  <body class="break-inside-avoid">
    {
      collection && (
        <HeroSection {...collection.hero} />
        
        <main class="grid gap-y-12 md:gap-y-16 print:gap-y-0">
          <AboutSection {...collection.about} />
          <ContactsSection {...collection.contacts} />
          <SkillsSection {...collection.skills} />
          <EducationSection {...collection.education} />
          <WorksSection {...collection.works} />
          <AdditionalSection {...collection.additional} />
        </main>

        <PageFooter {...collection.footer} />
      )
    }

  <PrintStyles />
  </body>
</html>

<style is:global>
:root {
  color-scheme: light;
  -webkit-tap-highlight-color: initial;
}

:root.dark {
  color-scheme: dark;
}
</style>
