---
import { getCollection } from "astro:content";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ContactsSection from "../components/ContactsSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import Bar from "../components/Bar.astro";

const { lang } = Astro.props;

const pages = await getCollection("main");

const collection = pages.find((page) => page.id.split("/")[0] === lang)?.data;
---

<html lang="en" class="text-[90%] md:text-[100%]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="astro" />
    <title>Astro</title>
  </head>
  <body class="safe-area light bg-background text-foreground">
    {
      collection && (
        <HeroSection {...collection.hero} />
        <main class="grid gap-y-12 md:gap-y-16">
          <AboutSection {...collection.about} />
          <ContactsSection {...collection.contacts} />
          <SkillsSection {...collection.skills} />
        </main>
        <Bar />
      )
    }
  </body>
</html>
