---
interface Props {
	list: string[];
}

const { list } = Astro.props;
---

<ul>
	{list.map((item) => (
		<li class="grid grid-cols-[auto_1fr] gap-x-2 before:text-lg before:text-border content-start items-baseline before:content-['▪&#xFE0E;']">{item}</li>
	))}
</ul>