---
interface Props {
  title?: string;
  ariaLabel?: string;
  className?: string;
}

const { title, ariaLabel, className } = Astro.props;
---

<section aria-label={ariaLabel} class:list={[ 
    "px-container grid gap-y-4", 
    "md:(grid-cols-[1fr_4fr] gap-x-1.5rem)", 
    className && className,
    "print:(gap-y-0)"
]}>
  {title && (
    <h2 class="font-bold leading-snug text-lg md:self-start bg-gradient-to-r from-primary-start to-primary-end bg-clip-text text-transparent print:(text-lg)">{title}</h2>
  )}
  <div class="d:col-start-2 md:col-end-3">
    <slot />
  </div>
</section>