---
import {classMerge} from '../../utils/classMerge'

interface Props {
	skills: string[];
	className: string;
}

const { skills, className } = Astro.props;
---

<ul class={classMerge("flex flex-wrap gap-x-2 gap-y-2", className)}>
	{skills.map((skill) => (
		<li class="bg-backplate whitespace-nowrap text-sm py-1 px-2 rounded-sm">
			{skill}
		</li>
	))}
</ul>