html.is-js.is-loading .page {
	opacity: 0;
}

html.is-js .page {
	transition: opacity 0.3s;
}



.page-loader{
	position: fixed;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;	  
}

html.is-loading .page-loader{
  display: flex;
}

html:not(.is-js).is-loading .page-loader {
  display: none;
}

.page-spinner {
	position: relative;
	width: 28px;
  height: 28px;	
	margin: -42px auto 0;
  border-radius: 50%;
	transition: opacity 0.1s;
  animation: 0.9s 0.36s infinite alternate loader;    
}

.page-spinner::after,
.page-spinner::before {
  position: absolute;
	width: 28px;
  height: 28px;
	content: '';    
  border-radius: 50%;
  animation: 0.9s infinite alternate loader;
}

.page-spinner::before {
  left: -40px;
  animation-delay: 0.18s;
}

.page-spinner::after {
  right: -40px;
  animation-delay: 0.54s;
}


@keyframes loader {
  0% {
    box-shadow: 0 28px 0 -28px #fe8d59;
  }

  100% {
    box-shadow: 0 28px 0 #fe8d59;
  }
}